<html>  
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link href="css/normalize.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
    </head>
<body>
        
   <section class="hero">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="img/logo.png"></a>
          </div>
        </div>

        <div class="col-md-12">
          <h1>
            A theme with personality
          </h1>

          <p class="tagline">
            This is a powerful theme with some great features that you can use in your future projects.
          </p>
          <a class="btn btn-full" href="#about">Get Started Now</a>
        </div>
      </div>
      
    </section>
        
    
    <div class="row">
            <div class="col-sm-6 col-xs-12">
       <form action="index.html" method="post">
           
        <h1>Cadastre-se</h1>
        
        <fieldset>
          <label for="name">Nome:</label>
          <input type="text" id="name" name="user_name">
          
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="user_email">
          
          <label for="password">Senha:</label>
          <input type="password" id="password" name="user_password">
          
          <label>CPF ou CNPJ:</label>
           <input type="text" id="cnpj" name="user_key">
       
        <label for="job">Categoria</label>
        <select id="job" name="user_cat">
          <optgroup label="Produtos">
            <option value="limpeza">Limpeza</option>
            <option value="informatica">Informática</option>
          </optgroup>
          <optgroup label="Serviços">
            <option value="gerais">Serviços Gerais</option>
            <option value="reparo">Reparos</option>
            <option value="Construção">Construção</option>
          </optgroup>
        </select>
        
        </fieldset>
        <button type="submit">Cadastrar</button>
      </form>
    </div>
      <div class="col-sm-6 col-xs-12">
           <form action="index.html" method="post">

        <h1>Conecte-se</h1>
        
        <fieldset>

          
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="user_email">
          
          <label for="password">Senha:</label>
          <input type="password" id="password" name="user_password">
          
          
        </fieldset>
        <button type="submit">Entrar</button>
      </form>
                            </div>
    </div>
      <script src="js/custom.js"></script>

    </body>
</html>