<!doctype html>
<html ng-app="demo">
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>		
    	<script src="hello.js"></script>
	</head>

	<body>
		<input type="text" class="form-control" id="txtEmail" placeholder="Email">
		<input type="text" class="form-control" id="txtCPF" placeholder="CPF">
		
		<input class="btn btn-primary" type="submit" ng-click="enviar()" value="Enviar">
	
		<div ng-controller="Hello">
			<div ng-repeat="(key, value) in greeting">
				<p>Modalidade: {{value.modalityId}}, Sigla: {{value.acronyms}}, Descrição: {{value.description}}</p>
			</div>
		</div>
	</body>
</html>