<!doctype html>
<html ng-app="demo">
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>		
    	<script src="hello.js"></script>
	</head>

	<body>
	
	<form method="POST" action="http://localhost:8080/DivulgaEditais/rest/modality/login" enctype="application/x-www-form-urlencoded">
		<input type="text" class="form-control" id="txtEmail" placeholder="Email">
		<input type="text" class="form-control" id="txtCPF" placeholder="CPF">
		
		<div ng-controller="validatePassword1">
			<input class="btn btn-primary" type="submit" ng-click="enviar1()" value="Enviar">
		</div>
	
		<div ng-controller="Hello">
			<div ng-repeat="(key, value) in greeting">
				<p>Modalidade: {{value.modalityId}}, Sigla: {{value.acronyms}}, Descrição: {{value.description}}</p>
			</div>
		</div>
	</form>
	</body>
</html>